- locals[:jss] = ["/js/episode.js"]
.container
  %h1 エピソード
  %dl.dl-horizontal
    %dt 投稿者
    %dd
      %img{:src => episode.user.image, :style => "height:16px;width:16px;"}
      %span.screen_name @#{ episode.user.screen_name }
    %dt 種別
    %dd= EpisodeType[episode.type].name
    %dt 時期
    %dd= episode.enddate ? [episode.startdate, episode.enddate].join(" - ") : episode.startdate
    %dt 内容
    %dd
      %pre= episode.text
    - if session[:user] && session[:user][:id] == episode.user_id
      %dd
        %form#delete.form-horizontal{:method => "POST", :action => "/episode/#{ episode.id }/delete"}
          .form-actions
            %a.btn.btn-inverse{:href => "/episode/#{ episode.id }/edit"} 編集する
            != Rack::Csrf.tag(env)
            %input.btn.btn-danger{:type => "submit", :value => "削除する"}
